@import "variables";
@import "ember-bootstrap/bootstrap";
@import "index";
@import "common";
@import "bootstrap-overrides";

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#nidratech {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#footer {
  margin: 0 auto 1rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 4rem;
}

@include media-breakpoint-up(xs) {
  #footer {
    margin: 0 auto;
    font-size: .9rem;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 12px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
}
