.client {
  &-logo {
    width: 125px;
    margin-right: 3vw;

    &-container {
      height: 125px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.list-group-item {
  display: flex;
  align-items: center;
}
