.index {
  &__container {
    background-color: #292929;
    background-image: url(images/hero-pattern.svg);
    background-size: 100px 199px;
    animation: background 3.5s linear infinite;
    color: white;
    margin-bottom: 0;
    border-radius: 0;
    min-height: 18rem;
    padding: 3vw;
  }
}

@keyframes background {
  0% {
      background-position: 0 0
  }

  100% {
      background-position: 0 199px
  }
}

@include media-breakpoint-up(xs) {
  .index {
    &__container {
      h1 {
        font-size: 2.1rem;
      }
    }
  }
}