<div class="container">
  <div class="position-relative d-inline-block mb-4">
    <h4 class="mt-4 text-uppercase font-weight-bold">Some of our clients include</h4>
    <div class="highlight__line"></div>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      <div class="client-logo-container">
        <a href="http://www.egllaboratories.org/" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/egl-logo.png" class="client-logo" title="European Gemological Laboratory" />
        </a>
      </div>
      <div class="client-info">
        <a href="http://www.egllaboratories.org/" target="_blank" rel="noopener noreferrer">
          European Gemological Laboratory
        </a>
        <small class="text-muted d-block">New York, USA</small>
      </div>
    </li>

    <li class="list-group-item">
      <div class="client-logo-container">
        <a href="https://www.cglgrs.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/cgl-logo.png" class="client-logo" title="Canadian Gemological Laboratory" />
        </a>
      </div>
      <div class="client-info">
        <a href="https://www.cglgrs.com/" target="_blank" rel="noopener noreferrer">Canadian Gemological Laboratory</a>
        <small class="text-muted d-block">Vancouver, BC, Canada</small>
      </div>
    </li>

    <li class="list-group-item">
      <div class="client-logo-container">
        <a href="http://ggacanada.ca/" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/gga-logo.jpg" class="client-logo" title="Gems Grading &#38; Appraising" />
        </a>
      </div>
      <div class="client-info">
        <a href="http://ggacanada.ca/" target="_blank" rel="noopener noreferrer">Gems Grading &#38; Appraising</a>
        <small class="text-muted d-block">Vancouver, BC, Canada</small>
      </div>
    </li>

    <li class="list-group-item">
      <div class="client-logo-container">
        <a href="https://ia.ca/" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/ia-financial-logo.svg" class="client-logo" title="iA Financial Group" />
        </a>
      </div>
      <div class="client-info">
        <a href="https://ia.ca/" target="_blank" rel="noopener noreferrer">iA Financial Group</a>
        <small class="text-muted d-block">Vancouver, BC, Canada</small>
      </div>
    </li>

    <li class="list-group-item">
      <div class="client-logo-container">
        <a href="https://www.worksafebc.com/" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/wsbc-logo.jpg" class="client-logo" title="WorkSafe BC" />
        </a>
      </div>
      <div class="client-info">
        <a href="https://www.worksafebc.com/" target="_blank" rel="noopener noreferrer">WorkSafe BC</a>
        <small class="text-muted d-block">Richmond, BC, Canada</small>
      </div>
    </li>
  </ul>
</div>