<div class="jumbotron">
  <h1 class="display-5">Web Consulting in Touch with Tomorrow</h1>
  <p class="lead my-3">Web development</p>
  <p class="lead my-3">Hybrid mobile apps</p>
  <p class="lead my-3">Browser extensions</p>
</div>
