<div class="index__container">
  <h1 class="display-5 margin-bottom">Web Consulting in Touch with Tomorrow</h1>
  <p class="lead my-3 font-weight-normal">Web development</p>
  <p class="lead my-3 font-weight-normal">Hybrid mobile apps</p>
  <p class="lead my-3 font-weight-normal">Browser extensions</p>
</div>
