{{#bs-navbar collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div>
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}
      <img src="assets/images/logo.png" alt="Nidratech Ltd." />
    {{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index"}}Home{{/nav.link-to}}
      {{/nav.item}}

      {{#nav.item}}
        {{#nav.link-to "past-work"}}Past work{{/nav.link-to}}
      {{/nav.item}}

      {{#nav.item}}
        {{#nav.link-to "contact"}}Contact us{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<main role="main" class="container-fluid">
  {{liquid-outlet}}
</main>

<footer class="footer">
  <div class="container text-center">
    <span class="text-muted">Copyright © Nidratech Ltd. {{year}}</span>
  </div>
</footer>