<div class="text-center">
  <div id="success-sent" class="position-relative d-inline-block">
    <h4 class="text-uppercase font-weight-bold">Your email has been successfuly sent!</h4>

    <div class="highlight__line"></div>
  </div>
</div>